body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center;
}

.intro {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fadeOut 1.5s forwards;
}

.profile-photo {
    position: relative;
    width: 300px; /* Tamaño más grande */
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
    opacity: 0;
    animation: fadeIn 1.5s forwards 1s;
    margin-bottom: -20px;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: -50px;
    text-align: center;
}

header, section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #0070a3; /* Azul menos intenso */
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

button {
    background-color: #0070a3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

button:hover {
    background-color: #005f8c;
}

.button {
    display: inline-block;
    background-color: #0070a3;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #005f8c;
}

#project-image {
    margin-top: 20px;
}

.contact img {
    width: 40px;
    height: 40px;
    margin: 0 15px; /* Mayor separación entre logos */
    transition: transform 0.3s ease;
}

.contact img:hover {
    transform: scale(1.1);
}
